<!-- Start Why choose -->
<section class="why-choose section  " style="overflow-x: hidden;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <!-- Start Choose Left -->
        <div class="choose-left">
          <h1 class="primaryh1" routerLink="/{{RautersConstants.about}}" routerLinkActive="active">About us</h1>
          <p>Healthcare is the most important aspect of life, and the pandemic has made this true more than ever. At Bismr
          hospital , our exceptional team of doctors, nurses and caregivers come together to bring you  </p>
          <p>excellent care with the latest technologies, best medicine, and warmest service.. </p>
          <div class="row">
            <div class="col">
              <ul class="list" style="list-style-type: none;">
                <li><i class="fa fa-caret-right"></i>Leading Healthcare Solutions. </li>
                <li><i class="fa fa-caret-right"></i>Cutting-Edge Technology.</li>
                <li><i class="fa fa-caret-right"></i>Team of Expert Doctors.</li>
                <li><i class="fa fa-caret-right"></i>Best Quality of Patient Care. </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Choose Left -->
      </div>
      <div class="col-lg-6 col-12">
        <!-- Start Choose Rights -->
        <div class="choose-right" style="background-image: url(./img/IMG_2934.jpg);min-height: 310px;">
        </div>
        <!-- End Choose Rights -->
      </div>
    </div>
  </div>
</section>
<!--/ End Why choose -->
