<section class="schedule d-none d-md-block ">
  <div class="container d-none d-md-block ">
    <div class="schedule-inner">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 ">
          <!-- single-schedule -->
          <div class="single-schedule first">
            <div class="inner">
                  <div class="content row" style="padding-left: 0px;">
                    <div class="col-4" style="padding: 0px;">
                      <div class="icon">
                        <i class="fa fa-ambulance" ></i>
                      </div>
                    </div>
                    <div class="col" style="padding: 0px;">
                      <div class="single-content">
                        <h4>Emergency Help</h4>
                        <p style="margin: 0px;">Our emergency response team is ready to assist you.</p>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- single-schedule -->
          <div class="single-schedule middle">
            <div class="inner">
              <div class="icon">
                <div class="content row" style="padding-left: 0px;">
                  <div class="col-3" style="padding: 0px;">
                    <div class="icon">
                      <i class="fa fa-stethoscope"></i>
                    </div>
                  </div>
                  <div class="col" style="padding: 0px;">
                    <div class="single-content">
                      <h4>OPD TIMING</h4>
                      <p style="margin: 0px;">Morning : 9:00AM TO 4:00 PM</p>
                      <p style="margin: 0px;">Afternoon : 6:00PM TO 9:00 PM</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
          <!-- single-schedule -->
          <div class="single-schedule last">
          <div class="inner">
              <div class="content row" style="padding-left: 0px;">
                <div class="col-4" style="padding: 0px;">
                  <div class="icon">
                    <i class="fa fa-plus-square"></i>
                  </div>
                </div>
                <div class="col" style="padding: 0px;">
                    <div class="single-content">
                      <h4>Medical Treatment</h4>
                      <p style="margin: 0px;">Your Health, Our Priority. Trust Us for Your Medical Needs.</p>
                    </div>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
