
<app-slider></app-slider>
<div class="astrodivider">
  <div class="astrodividermask"></div>
</div>

<app-schedule></app-schedule>
<app-choose-us></app-choose-us>
<div class="astrodivider">
  <div class="astrodividermask"></div>
</div>
<app-slider3d></app-slider3d>
<div class="astrodivider">
  <div class="astrodividermask"></div>
</div>
<app-feautes></app-feautes>

<div class="astrodivider">
  <div class="astrodividermask"></div>
</div>
<app-blog></app-blog>
<div class="astrodivider">
  <div class="astrodividermask"></div>
</div>
<!-- <app-contact></app-contact>
<div class="astrodivider">
  <div class="astrodividermask"></div>
</div> -->
<!-- <app-portfolio></app-portfolio>
<div class="astrodivider">
  <div class="astrodividermask"></div>
</div> -->
<app-fun-facts></app-fun-facts>
<div class="astrodivider">
  <div class="astrodividermask"></div>
</div>
<app-services></app-services>
<div class="astrodivider">
  <div class="astrodividermask"></div>
</div>

<app-appointment></app-appointment>
<div class="astrodivider">
  <div class="astrodividermask"></div>
</div>
