
<app-slider></app-slider>
<div class="astrodivider">
  <div class="astrodividermask"></div>
</div>

<app-schedule></app-schedule>
<app-choose-us></app-choose-us>

<app-slider3d></app-slider3d>
<div class="astrodivider">
  <div class="astrodividermask"></div>
</div>
<!-- <app-feautes></app-feautes> -->
  <app-schemes-section></app-schemes-section>
<app-services></app-services>
<div class="astrodivider">
  <div class="astrodividermask"></div>
</div>
<!-- <app-portfolio></app-portfolio>
<div class="astrodivider">
  <div class="astrodividermask"></div>
</div> -->
<app-fun-facts></app-fun-facts>

<div class="astrodivider">
  <div class="astrodividermask"></div>
</div>
<app-patients-speak></app-patients-speak>
<app-blog></app-blog>

<div class="astrodivider">
  <div class="astrodividermask"></div>
</div>

