<div style="overflow: auto;">
  <img ngSrc="./img/slider3d2.jpg" class="img-fluid" style="max-height: 265px;width: 100%;    position: relative;" fill>
</div>

<div class="container" style="overflow: auto;">
      <div class=" primaryh1" id="pageHeaderTitle">Videos</div>
  <div class="row g-5">
    <div class="col-md-3 d-none d-md-block">
      <div class="position-sticky" style="top: 2rem;">
        <div>
          <h4 class=" primaryh1">Recent posts</h4>
          <ul class="list-unstyled">
            <li *ngFor="let item of blogs.blogs; let i = index"
              style="margin-bottom: 6px;margin-top: 6px;">
              <div >
                <button type="button"  class="btn btn-outline-dark" style="width: -webkit-fill-available;">
                  <a class="dropdown-item Primary-font-family">{{item.title}}</a>
                </button>
              </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <app-blogs></app-blogs>
    </div>

  </div>
</div>
