<p><section class="slider">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="100">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <ng-container *ngFor="let slide of slides; let i = index">
        <div class="carousel-item" [class.active]="i === 0" [style.backgroundImage]="'url(' + slide.image + ')'">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-7">
                <h1>{{ slide.title }}</h1>
                <p>{{ slide.description }}</p>
                <div class="button">
                  <a href="#" class="btn">{{ slide.button1Text }}</a>
                  <a href="#" class="btn btn-primary">{{ slide.button2Text }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
