@media screen and (max-width: 540px) {
  .view {
    width: 400px;
  }

  .sliderh {
    height: 200px;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .view {
    width: 600px;
  }

  .sliderh {
    height: 400px;
  }
}

@media screen and (min-width: 780px) {

  .sliderh {
    height: 520px;
  }

}



@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.zoomIn-content {

  animation: zoomIn 0.5s ease-in-out;
}
