<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="Feautes section zoomIn-content" style="overflow: hidden;">
  <div class="container SlideIn-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>We Are Always Ready to Help You & Your Family</h2>
          <img ngSrc="img/section-img.png" style="height: auto; width: auto; position: relative" fill>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-12 SlideIn-content">
        <!-- Start Single features -->
        <div class="single-features">
          <div class="signle-icon">
                      <i class="fa fa-ambulance" style="font-size:60px;color:red;"></i>
          </div>
          <h3>Emergency Help</h3>
          <p>Our emergency response team is ready to assist you.</p>
        </div>
        <!-- End Single features -->
      </div>
      <div class="col-lg-4 col-12">
        <!-- Start Single features -->
        <div class="single-features SlideIn-content">
          <div class="signle-icon">
            <i class="icofont icofont-medical-sign-alt"></i>
            <i class="fa fa-plus-square" style="font-size:60px;color:red;"></i>
          </div>
          <h3>Enriched Pharmecy</h3>
          <p>A Trusted Source for Health and Wellness.</p>
        </div>
        <!-- End Single features -->
      </div>
      <div class="col-lg-4 col-12 ">
        <!-- Start Single features -->
        <div class="single-features last">
          <div class="signle-icon">
            <i class="icofont icofont-stethoscope"></i>
              <i class="fa fa-stethoscope" style="font-size:60px;color:red;"></i>
          </div>
          <h3>Medical Treatment </h3>
          <p>Your Health, Our Priority. Trust Us for Your Medical Needs.</p>
        </div>
        <!-- End Single features -->
      </div>
    </div>
  </div>
</section>
