<div class="zoomIn-content" >
<div class="bodyStyle">
  <div class="banner">
      <div class="content  d-none d-md-block">
        <div class="model"></div>
      </div>
      <h1>SpeciaLity Services</h1>
    <div class="slider" style="--quantity: 10">
      <div class="item" style="--position: 1"><img ngSrc="img/IMG_2861.jpg" style="position: relative" fill></div>
      <div class="item" style="--position: 2"><img ngSrc="img/slider3d2.jpg" alt="" style="position: relative" fill></div>
      <div class="item" style="--position: 3"><img ngSrc="img/IMG_2890.jpg" alt="" style="position: relative" fill></div>
      <div class="item" style="--position: 4"><img ngSrc="img/slider01.jpg" alt="" style="position: relative" fill></div>
      <div class="item" style="--position: 5"><img ngSrc="img/IMG_2902.jpg" alt="" style="position: relative" fill></div>
      <div class="item" style="--position: 6"><img ngSrc="img/IMG_2904.jpg" alt="" style="position: relative" fill></div>
      <div class="item" style="--position: 7"><img ngSrc="img/IMG_2934.jpg" alt="" style="position: relative" fill></div>
      <div class="item" style="--position: 8"><img ngSrc="img/blog2.jpg" alt="" style="position: relative" fill></div>
      <div class="item" style="--position: 9"><img ngSrc="img/blog3.jpg" alt="" style="position: relative" fill></div>
      <div class="item" style="--position: 10"><img ngSrc="img/blog2.jpg" alt="" style="position: relative" fill></div>
    </div>
</div>
</div>
