<div class="zoomIn-content">
<div class="bodyStyle">
  <div class="banner">
      <div class="content  d-none d-md-block">
        <div class="model"></div>
      </div>
      <h1>SpeciaLity Services</h1>
    <div class="slider" style="--quantity: 10">
      <div class="item" style="--position: 1"><img src="img/blog1.jpg" alt=""></div>
      <div class="item" style="--position: 2"><img src="img/blog2.jpg" alt=""></div>
      <div class="item" style="--position: 3"><img src="img/blog3.jpg" alt=""></div>
      <div class="item" style="--position: 4"><img src="img/blog1.jpg" alt=""></div>
      <div class="item" style="--position: 5"><img src="img/blog2.jpg" alt=""></div>
      <div class="item" style="--position: 6"><img src="img/blog3.jpg" alt=""></div>
      <div class="item" style="--position: 7"><img src="img/blog1.jpg" alt=""></div>
      <div class="item" style="--position: 8"><img src="img/blog2.jpg" alt=""></div>
      <div class="item" style="--position: 9"><img src="img/blog3.jpg" alt=""></div>
      <div class="item" style="--position: 10"><img src="img/blog2.jpg" alt=""></div>
    </div>

  </div>
</div>
</div>
