<div class="zoomIn-content" style="overflow-x: hidden;" >
<div class="bodyStyle">
  <div class="banner">
      <div class="content  d-none d-md-block" >
        <div class="model"></div>
      </div>
      <h1 class="primaryh1"  routerLink="/{{RautersConstants.specialityservices}}" routerLinkActive="active">{{SpecialityServices}}</h1>
    <div class="slider" reverse="true" style="--width: 300px;--height: 300px;--quantity: {{constants.length}};">
      <div class="list">
      <div class="item"  *ngFor="let item of constants; let i = index"  style="--position: {{i}}">
        <div class="card mb-3" >
          <div style="padding: 10px 10px 0px 10px;">
        <img ngSrc="img/blog3.jpg" class="card-img-top" style="height: 200px; width: 280px; position: relative;border-radius: 2px;" alt="" fill>
        </div>
        <div class="card-body" style="padding-top: 0px;margin-top: -20px;position: relative;">
          <button type="button" class="btn btn-danger" style="width: -webkit-fill-available;border-radius: 20px;"
          routerLinkActive="active"
              routerLink="/{{RautersConstants.specialityservices}}/{{item.key}}">{{item.title}}</button>
        </div>
      </div>
    </div>
    </div>
</div>
  <!-- <div class="row" style="justify-content: center;">
    <button type="button" class="btn btn-danger" style="width: auto;">Know More &#10151;</button>
  </div>
  </div> -->
</div>

