  .scroll-left {
    height: 30px;
    overflow: hidden;
    position: relative;
    background: rgb(255, 255, 255);
    color: rgb(248, 2, 2);
    border: 1px solid rgb(255, 5, 5);
  }

  .scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 30px;
    text-align: center;
    /* Starting position */
    transform: translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 15s linear infinite;
  }

  /* Move it (define the animation) */
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
.sticky-bottom {
  position: fixed;
  bottom: 6;
  left: 0;
  right: 0;
  background-color: var(--white);
  /* Adjust padding as needed */
  z-index: 1000;
  /* Ensure it appears above other elements */
}
    .nav-link {
      color: var(--white);
    }

