/*=======================
	Start Fun Facts CSS
=========================*/
.fun-facts {
  padding: 50px 0;
}

.fun-facts.section {
  padding: 120px 0;
}

.fun-facts {
  background-size: cover;
  background-repeat: no-repeat;
}


.fun-facts .single-fun i {
  position: absolute;
  left: 0;
  font-size: 62px;
  color: #fff;
  height: 70px;
  width: 70px;
  line-height: 67px;
  font-size: 28px;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 2px solid #fff;
  border-radius: 0px;
  top: 50%;
  margin-top: -35px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 50%;
}

.fun-facts .single-fun:hover i {
  color: #1A76D1;
  background: #fff;
  border-color: transparent;
}

.fun-facts .single-fun .content {
  padding-left: 80px;
}

.fun-facts .single-fun span {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  position: relative;
  display: block;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s eas;
  display: block;
  margin-bottom: 7px;
}

.fun-facts .single-fun p {
  color: #fff;
  font-size: 15px;
}

/*===================
	End Fun Facts
=====================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #2e363e;
}

.counter {
  padding: 12% 0;
}

.single-number {
  padding: 35px;
  transition: all 0.6s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.icon-area {
  width: 80px;
  height: 80px;
  margin: 15px auto;
  background: #2e363e;
  border-radius: 15px;
  line-height: 90px;
  border: 2px solid #2fdb50;
}

.icon-area i {
  color: #fff;
  font-size: 40px;
}

.digit-box {
  display: block;
  font-size: 80px;
  font-weight: 700;
  color: #2fdb50;
}

.text-box {
  color: #fff;
}

.single-number:hover {
  background: #2fdb50;
  color: #fff;
}

.single-number:hover .digit-box {
  color: #fff;
}

@media (max-width: 1000px) {
  .single-number {
    margin-bottom: 30px;
  }

  .digit-box {
    font-size: 50px;
  }
}
